@use "colors" as *;
@use "fonts" as *;

.primary-button {
  background: $primary-color;
  font-family: $font-family;
  color: #fafafa;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  border-radius: 28px;
  border: none;
  padding: 1rem;
  img{

    width: 0.8rem;
  }
}

@mixin mc-buy-button {
  width: 100%;
  background: $primary-color;
  color: $font-white;
  font-family: $font-family;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  border-radius: 28px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}
