$background-color: #FFF7E3;
$background-gradient: var(--bck-mayo, linear-gradient(349deg, #FFECBC 35.11%, #FFF7E3 96.19%));
$primary-color: #F77710;
$font-default-color: #1E1E1E;
$font-primary-color: #063DBF;
$font-white: #F5F5F5;
$error-color: #900B09;
