@use "../styles/fonts" as *;
@use "../styles/colors" as *;
.email-confirmation{
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo{
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    width: 6.5rem;
  }
  &__product{
    position: relative;
    &__background{
      width: 7.75rem;
    }
    &__product-image{
      top: 0;
      left: 0.7rem;
      width: 6.25rem;
      position: absolute;

    }
  }
  &__message{
    margin-top:3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    h3{
      color: $font-primary-color;
      text-align: center;
      font-size: 1.5rem;
      line-height: 1.2;
      margin: 0;
    }

    p{
      text-align: center;
      margin: 0;
    }
  }
}
