@use "../../styles/fonts" as *;
@use "../../styles/colors" as *;

.success-page {
  max-width: 500px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .logo {
    padding: 0 1.25rem;
    margin-top: 1.5rem;
    img {
      width: 5.25rem;
    }
  }

  .content {
    flex: 1;
    padding: 0 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3rem;

    .envelope {
      width: 4rem;
      margin-bottom: 1.5rem;
    }

    .title {
      font-family: $font-family;
      color: $font-primary-color;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.3;
      margin: 0 0 1rem;
    }

    .description {
      font-family: $font-family;
      color: $font-default-color;
      font-size: 0.875rem;
      line-height: 1.6;
      margin: 0 0 2rem;
    }

    .thanks {
      font-family: $font-family;
      color: $font-default-color;
      font-size: 0.8125rem;
      line-height: 1.5;
      margin: 0;
      padding: 1rem;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 12px;
    }
  }
}
