@use "../../styles/fonts" as *;
@use "../../styles/colors" as *;

.footer {
  background: #3B3B3B;
  text-align: center;
  padding: 1.5rem 1.25rem 2rem;
  font-family: $font-family;
  color: $font-white;
  font-size: 0.75rem;
  p {
    margin: 0;
  }
}
