.activate-user{
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  .logo{
    margin: 2.563rem auto 0 auto;
    width: 6.5625rem;
  }
}
.loader{
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  p{
    font-size: 1rem;
    line-height: 1rem;
  }
  img{
    width: 3rem;
    animation: loader-spin 1.5s linear infinite;
  }
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
