@use "../../styles/fonts" as *;
@use "../../styles/colors" as *;

.logo{
  padding: 0 1.25rem;

  img{
    width: 5.25rem;

  }
  margin-top: 1.5rem;
}

.header{
  padding: 0 1.25rem;
  margin-bottom: 1rem;
  .masterclass-logo{
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  img{
    width: 1.875rem;
  }

  .title {
    font-family: $font-family;
    color: $font-primary-color;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
  }

  .subtitle {
    font-family: $font-family;
    color: $font-default-color;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
    margin: 0;
  }
}
